body{     
	color: #000;
	font-family: Century Gothic, sans-serif;
	margin: 0px;
	padding: 0px;
	background-image: url(http://subtlepatterns.com/patterns/fancy_deboss.png);
	text-align: center;
}
header{
	margin: 30px auto 15px auto;
}
hr{
	padding: 1px;
	margin: 1px;
}
canvas{
	margin: 75px auto 5px auto;
	background-image: url(http://subtlepatterns.com/patterns/snow.png);
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
	z-index: -200;
}
#controls{
	position: absolute;
	left: 5;
	top: 5;
	padding: 2px 2px;
	margin: 0px;

}
#song_id{
	position: absolute;
	right: 5;
	top: 3;
	margin: 2px;
}
a:link{
	font-style: normal;
	text-decoration: none;
	color: "#1E2123";
}
a:hover{
	color: "red";
}
a:visited{
	color: "red";
}
h1, h5{
	text-align: left;
	margin: 2px;
	padding: 0px;
}
img{
	height: 68px;
	width: 68px;
	margin: 0px;
	padding: 0px;
	border:dotted 0px #000000;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-moz-box-shadow: 0px 2px 5px #000000;
	-webkit-box-shadow: 0px 2px 5px #000000;
	box-shadow: 0px 2px 5px #000000;
}
img:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=10);
}
#files{
	width: 500px;
	text-align: left;
}
hr{
	margin: 5px auto;
	width: 550px;
}
#menu{
	margin: 5px auto;
}
ul{
	list-style-type: none;
	display: inline;
	margin: 0px;
	padding: 0px;
}
li{
	display: inline;
	margin-right: 15px;
	padding: 5px;
}
#volume{
	margin: 25px;
}
#song_select{
	margin: 10px auto;
	width: 510px;
	padding: 5px;
}
select{
	width: 100px;
    border:1px solid #000;
    background:#fff;
    -webkit-border-radius:0;
    border-radius:0;
}