body{     
	color: #000;
	font-family: Century Gothic, sans-serif;
	margin: 0px;
	padding: 0px;
	background-image: url(http://subtlepatterns.com/patterns/subtle_zebra_3d.png);
	text-align: center;
}
header{
	margin: 30px auto 15px auto;
	font-weight: bold;
}
canvas{
	margin: 3px auto 5px auto;
	background-color: #BFBFBF;
	-moz-box-shadow: 0px 2px 5px #000000;
	-webkit-box-shadow: 0px 2px 5px #000000;
	box-shadow: 0px 2px 5px #000000;
	z-index: -200;
}
img{
	height: 68px;
	width: 68px;
	margin: 0px;
	padding: 0px;
	border:dotted 0px #000000;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-moz-box-shadow: 0px 2px 5px #000000;
	-webkit-box-shadow: 0px 2px 5px #000000;
	box-shadow: 0px 2px 5px #000000;
}
img:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=10);
}
#files{
	width: 500px;
	text-align: left;
}
#menu{
	text-align: left;
	width: 650px;
	margin: 5px auto;
}
ul{
	list-style-type: none;
	display: inline;
}
li{
	display: inline;
	margin-right: 10px;
	padding: 5px;
}
#volume{
	margin: 25px;
}
#song_select{
	margin: 10px auto;
	width: 510px;
	padding: 5px;
}